.like:hover{
  opacity: 0.8;
  cursor: pointer;
  width: 34px;
}

.like{
  width: 30px;
}

.container-like{
  height: 40px;
  width: 40px;
  display: table-cell;
  vertical-align: middle;
}

.container2like{
width: 80px;
margin-left: 90%;
}

/*@media screen and (max-width: 1250px){.container2like{margin-left: 88%;}}*/
/*@media screen and (max-width: 670px){.container2like{margin-left: 81%;}}*/
