<li class="article-preview" [ngClass]="{'list-group-item': true}">
  <h4>{{ArticleName}}</h4>
  <p class="articlecontent">{{ArticleContent}}</p>
  <!--<a (click)="navigateToArticleDetail()">Lire le post</a>-->
  <a [routerLink]="['article/',id]">Lire le post</a>
  <div class="first-container">
    <div class="container">
      <div (click)="like()"
           [ngClass]="{ 'like_mc': ArticleStatus === 'unlike'||'dislike',
           'like': ArticleStatus === 'like'}"></div>
    </div>
    <div class="container">
      <div (click)="dislike()"
           [ngClass]="{ 'dislike_mc': ArticleStatus === 'unlike'||'like',
           'dislike': ArticleStatus === 'dislike'}"></div>
    </div>
  </div>
</li>
